<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="TestsSection" type="Laurus.ProdTest.Core.TestRunConfigurationSection, Laurus.ProdTest.Core"/>
    <section name="Signature" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <appSettings>
    <add key="LogDatabase" value="false"/>
    <add key="LogConsole" value="true"/>
    <add key="LogFile" value="false"/>
  </appSettings>
  <connectionStrings>
    <add name="default" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=TyTestDev;Integrated Security=True;Pooling=False"/>
    <add name="Log" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=TyTestDev_Log;Integrated Security=True;Pooling=False"/>
  </connectionStrings>
  <TestsSection>
    <Tests>
      <!--<add Order="0" Type="Laurus.ProdTest.Core.Tests.BuzzerTest" />
      <add Order="1" Type="Laurus.ProdTest.Core.Tests.CommandTest" />
      <add Order="2" Type="Laurus.ProdTest.Core.Tests.BatteryLifeTest"/>-->
      <!--<add Order="4" Type="Laurus.ProdTest.Core.Tests.AlarmTest" />-->
      <!--<add Order="4" Type="Laurus.ProdTest.Core.Tests.UserDisconnectTest"/>-->
      <add Order="5" Type="Laurus.ProdTest.Core.Tests.DisconnectReconnectTest"/>
      <!-- this one should always be last -->
      <add Order="99" Type="Laurus.ProdTest.Core.Tests.FactoryResetTest"/>
    </Tests>
  </TestsSection>
<Signature xmlns="http://www.w3.org/2000/09/xmldsig#"><SignedInfo><CanonicalizationMethod Algorithm="http://www.w3.org/TR/2001/REC-xml-c14n-20010315"/><SignatureMethod Algorithm="http://www.w3.org/2000/09/xmldsig#rsa-sha1"/><Reference URI=""><Transforms><Transform Algorithm="http://www.w3.org/2000/09/xmldsig#enveloped-signature"/></Transforms><DigestMethod Algorithm="http://www.w3.org/2000/09/xmldsig#sha1"/><DigestValue>i83qLYIW/5KjGxbRtwJ4ZYRCab8=</DigestValue></Reference></SignedInfo><SignatureValue>lZdcZQ/z6BFYvZKb67juNAB/aFIk1F1eR0MNRqDtJO5MgdOM0KGQ1UW1rHBY2jIoU6vr5Mjw6unkNGglJVPysYEtWiqIxXB47DWFJiuPDqOvQHHzOutCzGk1a6xmBkFOTcafH8GZv7LDmvi3lgUUzwshrQt2N9psc0DkcEb5ZMM=</SignatureValue></Signature><startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
